.escolher {
    h2 {
        padding: 0 10px;
        font-family: $roboto;
        font-size: 3em;
        text-align: center;

        @media (max-width:450px) {
            font-size: 2em;
        }
    }

    p {
        @include flex (flex, center, center);
        margin-top: 30px;
        font-family: $roboto;
        color: #343a40;
        font-size: 1em;
        line-height: 1.7;
        text-align: start;
    }

    .boxescolher {
        @include flex (flex, center, center);
        margin-top: 50px;

        .escolher2 {
            width: 25em;
            @include flex (flex, flex-start, flex-start);
            flex-direction: column;
            border-radius: 5px;
            padding:15px 15px 30px 30px;
            margin-bottom: 20px;
            box-shadow: 0 5px 50px -10px rgba(0, 0, 0, 0.2);
            position: relative;

            @media (max-width:425px) {
                width: 100%;
                margin: 0 10px 12px 10px;
            }

            @media (max-width: 348px) {
                padding: 15px 8px 30px 8px;
            }
            
        }

        span {
            height: 35px;
            width: 35px;
            font-size: .8em;
            background: $bgbt;
            border-radius: 50%;
            margin-right: 13px;
            position: relative;
            top: -1px;

            .fa-graduation-cap, .fa-university{
                display: inline-block;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                color: $color1;
                font-size: .8em;
            }

        }

    }
}