$hoverlink: #3a2ee0;

$button-bg: #7971ea;
$btn-color: #fff;
$btnhover:#4f45e3;

$title: #fff;
$p-text-main: #e1dfdff5;

$subtitle: #000;
$subtitle-white: #fff;

$paragraph: #333;

$roboto: 'Roboto', sans-serif;
$arial: Arial, Helvetica, sans-serif;

@mixin flex ($display, $justify, $align: stretch ) {
    display: $display;
    justify-content: $justify;
    align-items: $align;
}

@mixin subtitle($color: $subtitle, $font: 3rem, $family: $roboto) {
    color: $color;
    font-size: $font;
    font-family: $family;
    text-align: center;
    line-height: 1.2;
}

@mixin paragraphs($color: $paragraph, $font: 1rem, $family: $arial) {
    color: $color;
    font-size: $font;
    font-family: $family;
    text-align: center;
    line-height: 1.5;
}


@mixin button {
    font-family: $arial;
    font-weight: bold;
    border: none;
    background: $button-bg;
    color: $btn-color;
    border-radius: 50px;
    cursor: pointer;
    transition: all .3s;
}