.modal-container {
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: none;
  justify-content: center;
  align-items: center;
}

.modal-container.ativo {
  display: flex;
  animation: modal 0.5s forwards;
}

@keyframes modal {
  from {
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0px, 0);
  }
}

.modal {
  width: 360px;
  background: #fff;
  padding: 40px;
  margin: 0 10px;
  border-radius: 5px;
  position: relative;

  @media (max-width: 390px) {
    padding: 40px 10px;
  }

  h1 {
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 10px 0 20px 0;
  }

  label {
    font-size: 16px;
  }

  .fechar {
    text-decoration: none;
    color: #fff;
    background: #7971ea;
    border: 4px solid #fff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
    height: 50px;
    width: 50px;
    text-align: center;
    padding-top: 5px;
    font-size: 24px;
    border-radius: 50%;
    position: absolute;
    top: -8px;
    right: -5px;
    cursor: pointer;
  }

  [type="password"],
  [type="email"] {
    width: 100%;
    height: 3.125em;
    display: block;
    color: #495057;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid rgba(196, 191, 191, 0.644);
    padding: 0 10px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;

    &:focus {
      border-color: #7971ea;
    }
  }

  .buttonmensage {
    align-self: flex-start;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    background: #7971ea;
    margin-top: 20px;
    padding: 17px 30px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      background: $btnhover;
    }
  }
}

[data-scroll] {
  opacity: 0;
  transform: translate3d(0, 30px, 0);
  transition: all 0.5s;
}

[data-scroll].ativo {
  opacity: 1;
  transform: translate3d(0, 0px, 0);
}
