.modal-container {
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-container.ativo {
    display: flex;
    animation: modal .5s forwards;
}

@keyframes modal {
    from {
        opacity: 0;
        transform: translate3d(0, -30px, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0px, 0);
    }
}

.modal {
    width: 360px;
    background: #fff;
    padding: 40px;
    border-radius: 5px;
    position: relative;

    h1 {
        font-size: 2em;
        font-family: Arial,Helvetica,sans-serif;
        text-align: center;
        margin: 10px 0 20px 0;
    }

    label {
        font-size: 16px;
    }

    .fechar {
        text-decoration: none;
        color: #fff;
        background: $bgbt;
        border: 4px solid #fff;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .3);
        height: 50px;
        width: 50px;
        text-align: center;
        padding-top: 5px;
        font-size: 24px;
        border-radius: 50%;
        position: absolute;
        top: -8px;
        right: -5px;
        cursor: pointer;
    }
}

[data-scroll] {
    opacity: 0;
    transform: translate3d(0, 30px, 0);
    transition: all .5s;
}

[data-scroll].ativo {
    opacity: 1;
    transform: translate3d(0, 0px, 0);
}