.nossosprogramas {

    h2 {
       @include flex (flex, center);
       padding: 0 10px;
       text-align: center;
       font-family: $roboto;
       font-size: 3em;
       margin-top: 60px;

       @media (max-width: 450px) {
        font-size: 2em;
        }
   }

   .p2 {
       padding-left: 20px;
       max-width: 37.5em;
       margin: 20px auto 0 auto;

       @media (max-width: 604px) {
           padding: 0 20px;
       }
       
   }

   p {
       @include flex (flex, center);
       font-family: $roboto;
       color: #808080;
       text-align: center;
       margin-top: 15px;
       line-height: 1.7;
   }

   @media (max-width: 920px) {
      .box-reverse {
          flex-direction: column-reverse;
      }

   }
}


.box1 {
   @include flex (flex, space-between, center);
   margin: 50px 60px 100px 60px;

   @media (max-width: 922px) {
       flex-wrap: wrap;
   }

   @media (max-width: 663px) {
       margin: 50px 10px 100px 10px;
   }

   .text {
       @media (max-width:332px) {
           max-width: 20em;
       }

       h2 {
           font-size: 2em;
           text-align: center;
           font-family: $roboto;
   
           @media (max-width: 920px) {
            margin-top: 20px;
           }

           @media (max-width: 450px) {
            font-size: 1.5em;
            }
       }

       p {
           font-size: 1.05em;
           margin-bottom: 15px;
       }
   }

   img {
       width:100%;
       height: auto;
       vertical-align: middle;
       border-style: none;
   }

   .icons {
       position: relative;
       width: 100%;

       p {
           font-size: 1.05em;
           color: $bgbt;
           display: table;
           margin-top: 25px;
           width: 20em;
           margin: 25px auto 0 auto;
           text-align:start;

           @media (max-width:396px) {
               width: 100%;
               text-align: center;
           }
       }

       .fas {
           text-align:center;
           height: 35px;
           width: 35px;
           line-height: 2.8;
           background: $bgbt;
           border-radius: 50%;
           margin-right: 15px;
           position: relative;
           top: -8px;
           color: $color1;
           font-size: .8em;

       }
   }
}